<!--Main Navigation-->
<header>
      <!--Navbar-->
      <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <mdb-navbar-brand>
          <a class="logo navbar-brand wow zoomIn" data-wow-delay="0.3s" href="#"
          (click)="selectedButton = buttonEnumType.home"><strong>MessageChad</strong></a>
        </mdb-navbar-brand>
        <links>
          <ul class="navbar-nav mr-auto">
            <div height="auto" (mouseover)="setHoveredButton(buttonEnumType.home)"
              (mouseout)="setHoveredButton(buttonEnumType.none)"
              (click)="selectedButton = buttonEnumType.home">
              <li class="nav-item waves-light" mdbWavesEffect [ngClass]="{'active' : selectedButton == buttonEnumType.home}">
                <a class="nav-link" (click)="navigateToHomePage()">
                  <mdb-icon fas icon="home"></mdb-icon>
                  <span *ngIf="hoveredButton==buttonEnumType.home">Home</span>
                </a>
              </li>
            </div>
            <div height="auto" (mouseover)="setHoveredButton(buttonEnumType.info)"
              (mouseout)="setHoveredButton(buttonEnumType.none)"
              (click)="selectedButton = buttonEnumType.info">
              <li class="nav-item waves-light" mdbWavesEffect [ngClass]="{'active' : selectedButton == buttonEnumType.info}"> 
                <a class="nav-link" href="#">
                  <mdb-icon fas icon="exclamation-circle"></mdb-icon><span
                    *ngIf="hoveredButton==buttonEnumType.info">Info</span>
                </a>
            </div>

          </ul>
          <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item waves-light" style="align-self: center;" *ngIf="httpService.loggedIn | async">
              <mat-icon [ngStyle]="{'color':'white'}" matBadge="{{unreadMessages}}" matBadgeColor="warn">mail_outline
              </mat-icon>
            </li>

            <li class="nav-item avatar dropdown" dropdown *ngIf="httpService.loggedIn | async">
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                mdbWavesEffect>
                <img class="transform-size" src="/assets/images/photo.jpg"
                  class="rounded-circle z-depth-0 avatar-image"></a>
              <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary">
                 <a class="dropdown-item waves-light" mdbWavesEffect (click)="logOut()">Log out</a>
              </div>
            </li>

          </ul>
        </links>
      </mdb-navbar>
</header>
<!--Section-->
<section class="view background">
  <router-outlet>
  </router-outlet>
</section>


<!--Main Navigation-->